/*
Header Styles
*/

* {
  box-sizing: border-box;
}

.primary-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 106px;
  padding: 0 50px 0 50px;
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
  z-index: 100;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.primary-header {
  max-width: 100%;
  margin: 0 auto;
}

.logo-wrapper {
  width: 30%;
}

/* Primary Site Navigation */

.site-nav,
.nav-wrapper .dropdown,
.nav-item {
  position: relative;
}

.nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 30px;
}

.nav .site-nav .nav-wrapper,
.submenu-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item,
.nav-item.btn,
.nav-wrapper .dropdown {
  display: inline-block;
}

.nav-item a {
  color: #000000;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 105px;
  background-color: #f9f9f9;
  min-width: 160px;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-color: #000000;
}

.dropdown-content a {
  font-size: 1rem;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:not(:last-child) {
  border-bottom: solid 2px #000000;
}

.dropdown-content a:hover {
  background-color: #000000;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-item:hover a:not(.nav-item.dropdown .dropdown-content a) {
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
}

/* Navigation CTA Button */

.nav-item.btn a {
  background-color: #ffffff;
  padding: 8px 16px;
  border: 2px solid #000000;
}

.nav-item.btn a:hover,
.nav-item.btn:hover a {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

/* Navigation Spacing */

.nav-item {
  margin-left: 30px;
  padding: 41px 0;
}

.nav-item:first-child {
  margin-left: 0;
}

/* Mobile Burger */

.menu-toggle {
  display: inline-block;
  cursor: pointer;
}

.top-bar,
.middle-bar,
.bottom-bar {
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
}

.active .top-bar {
  transform: translate(0, 11px) rotate(-45deg);
}

.active .middle-bar {
  opacity: 0;
}

.active .bottom-bar {
  transform: translate(0, -11px) rotate(45deg);
}

/*
Body Styles
*/

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  line-height: 1.5;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.block {
  padding: 80px 50px 80px 50px;
  margin: 0 auto;
}

[class*="col-"] {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.block-inner .row .columns.col-1 {
  max-width: 800px;
  margin: 0 auto;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.full-width {
  width: 100%;
}

.hero {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.homepage-hero {
  background-image: url(./images/workstation.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-text {
  font-size: 1.75rem;
  width: 15em;
  color: #ffffff;
  text-align: center;
  z-index: 20;
}

.grey-bg {
  background-color: #f4f4f4;
}

.card {
  width: 30%;
  overflow: hidden;
  background-color: #ffffff;
  flex-grow: 1;
}

.card .container {
  padding: 30px 30px;
}

.card img {
  width: 100%;
  max-height: 35vh;
}

/*
Footer Styles
*/

/*
Media Queries
*/

@media screen and (max-width: 767px) {
  .primary-header,
  .hero {
    padding: 0 30px 0 30px;
  }

  .block {
    padding: 50px 30px 50px 30px;
  }
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .menu-toggle {
    display: none;
  }
  .hero-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav-item a {
    font-size: 1rem;
  }
  .columns.col-3.flex-direction-row {
    max-width: 800px;
    gap: 0;
  }
  .card {
    width: 100%;
  }
  .card img {
    max-height: initial;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card:not(:last-child) {
    margin-bottom: 50px;
  }
  .card .image,
  .card .container {
    width: 50%;
  }
}

@media screen and (min-width: 1201px) {
  .hero-text {
    font-size: 3rem;
  }
}
